*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
}

body {
    background-image: url(images/backgroundImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
}
  
.container {
    display: table-cell;
    vertical-align: middle;
}
  
.canvas-container {
    position: relative;
    margin: 0 auto;
}

#canvas {
    width: 100%;
    height: auto;
    background-color: rgb(15, 15, 13);
    z-index: 0;
    font-family: 'Anton', sans-serif;
}

#canvas2 {
    width: 100%;
    height: auto;
    background-color: rgb(80, 23, 0);
    z-index: 0;
    font-family: 'Anton', sans-serif;
}

#canvas3 {
    width: 100%;
    height: auto;
    background-color: rgb(45, 3, 85);
    z-index: 0;
    font-family: 'Anton', sans-serif;
}

.homeRow {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

.homeCol {
    width: 100%;
    height: auto;
}

.homeCol h1{
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 55px;
    color: rgb(0, 29, 4);
}

.homeCol span{
    color: rgb(3, 60, 182);
    font-size: 35px;
    font-weight: 700;
    margin-left: 18rem;
    margin-top: 5rem;
    font-family: 'Anton', sans-serif;
    transition: all 0.5s;
    cursor: pointer;
    /* box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); */
    display: inline-block;
    position: relative;
}

.homeCol span:after {
    content: '>';
    position: absolute;
    opacity: 0;  
    /* top: 14px; */
    right: -30px;
    transition: 0.5s;
}

.homeCol span:hover{
    padding-right: 24px;
    padding-left:8px;
    color: rgb(4, 39, 114);
  }
  
.homeCol span:hover:after {
    opacity: 1;
    right: 10px;
}

.buttons {
    margin-left: 15rem;
}

.btn-circle {
    background-color: rgb(20, 20, 20) !important; /* Green */
    border: none;
    color: rgb(196, 189, 189) !important;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.leftbtn {
    margin-left: -2.5rem;
    margin-right: 2.5rem;
}

.btnHome {
    background-color: rgb(20, 20, 20) !important;
    border: none;
    width: 20px;
    height: 20px;
    color: rgb(230, 230, 0) !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px !important;
    cursor: pointer;
    border-radius: 50% !important;
}
  
.btn:focus {
    outline: none !important;
}

/* For mobile devices */
@media only screen and (max-width: 576px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
      background-image: url(images/backgroundImageS.jpg);
    }

    .homeCol h1{
        margin-top: 1rem;
        margin-left: 1.5rem !important;
        font-size: 45px;
    }

    .homeCol span{
        color: rgb(3, 60, 182);
        font-size: 20px;
        font-weight: 700;
        margin-left: 1.5rem !important;
        margin-top: 5rem;
        font-family: 'Anton', sans-serif;
        transition: all 0.5s;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    
    .homeCol span:after {
        content: '>';
        position: absolute;
        opacity: 0;  
        right: -30px;
        transition: 0.5s;
    }
    
    .homeCol span:hover{
        padding-right: 14px;
        padding-left:4px;
        color: rgb(4, 39, 114);
      }
      
    .homeCol span:hover:after {
        opacity: 1;
        right: 5px;
    }

    .buttons {
        margin-left: 3rem;
        margin-top: 2rem;
    }
    
    .btn-circle {
        background-color: rgb(20, 20, 20) !important;
        border: none;
        color: rgb(230, 230, 0) !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px !important;
        cursor: pointer;
        border-radius: 50% !important;
    }
    
    .btnHome {
        background-color: rgb(20, 20, 20) !important;
        border: none;
        width: 20px;
        height: 20px;
        color: rgb(230, 230, 0) !important;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px !important;
        cursor: pointer;
        border-radius: 50% !important;
    }

    .leftbtn {
        margin-left: auto !important;
    }

    .buttons .rightbtn {
        margin-left: 5rem !important;
    }
    
    .lgHomebtn {
        display: none;
    }
}

@media only screen and (max-width: 776px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
      background-image: url(images/backgroundImageM.jpg);
    }

    .homeCol h1{
        margin-top: 8rem;
        margin-left: 3rem;
    }

    .homeCol span{
        color: rgb(3, 60, 182);
        font-size: 35px;
        font-weight: 700;
        margin-left: 3rem;
        margin-top: 5rem;
        font-family: 'Anton', sans-serif;
        transition: all 0.5s;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    
    .homeCol span:after {
        content: '>';
        position: absolute;
        opacity: 0;  
        right: -20px;
        transition: 0.5s;
    }
    
    .homeCol span:hover{
        padding-right: 14px;
        padding-left:4px;
        color: rgb(4, 39, 114);
      }
      
    .homeCol span:hover:after {
        opacity: 1;
        right: 5px;
    }

    .leftbtn {
        margin-left: -5rem !important;
        margin-top: 2rem !important;
    }

    .rightbtn {
        margin-top: 2rem !important;
        margin-right: -2rem !important;
        margin-left: 6rem;
    }
    
    .upbtn {
        margin-right: 10px;
        margin-top: 2rem !important;
    }

    .downbtn {
        margin-top: 2rem !important;
    }
}

@media only screen and (min-width: 776px) {
    .buttons {
        display: none;
    }
    .homebtn {
        display: none;
    }
}
